<section class="movies">
    <h2 class="mt-4">This is all movies which we have for now</h2>
    <div class="container">
        <div class="row mt-5">
        <% @movies.each do |movie| %>
            <article class="movie col mb-5">
                    <p class="mt-4 font-weight-normal h4"><%= movie.title %> <span class="movie-year ml-1"><%= movie.year %></span></p>     
                    <p class="mt-2"><%= movie.director %></p>
                    <%= link_to  "Посмотреть информацию", movie_path(movie) %>
                    <%= link_to  "Изменить", edit_movie_path(movie) %>                                        
            </article>
        <% end %>        
        </div>
    </div>    
</section>